<ion-view view-title="Meet You There" hide-nav-bar="true">

    <ion-content>
        <img src="common/img/coffee_transparant.png" class="coffee-transparant" ng-show="results.length > 0">
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>


    <ion-drawer-vertical-wrapper class="has-tabs" direction="up" state="closed" autoclose-on-scroll ng-show="pointB">
      <ion-drawer-vertical-content>

        <ion-scroll direction="y" style="height:50vh">
        <div>
          <div class="list">

          <!-- Happy, found search results -->
          <div ng-show="results.length > 0" class="item item-divider nearby-locations">Nearby Locations - {{results.length}} results     <p><img class="eta-marker" src="common/img/marker.png">ETA (Point A to MeetPoint) : {{eta}}<p></div>
            <div class="item item-divider sorting">
              <span class="sort-title">Sort by:</span>
              <div class="sort">
                <button class="button button-clear" ng-click="order('rating')">
                   <span class="icon ion-star"></span>
                   <span class="icon" ng-class="{'ion-arrow-up-c' : ratingArrow, 'ion-arrow-down-c' : !ratingArrow}"></span>
                </button>
                <button class="button button-clear" ng-click="order('price_level')">
                  <span class="icon ion-social-usd"></span>
                  <span class="icon ion-arrow-up-c" ng-class="{'ion-arrow-up-c' : priceArrow, 'ion-arrow-down-c' : !priceArrow}"></span>
                </button>
              </div>
            </div>
            <div ng-show="results.length > 0" class="item padding-right" ng-repeat="result in results | orderBy:predicate:reverse">
              <div class="row">
                <div class="col col-50">
                  <div class="ellipsis more-info-active" ng-click="getMoreInfo(result.place_id)">{{result.name}}</div> 
                  <rating 
                      ng-model="result.rating" 
                      readonly="true">
                  </rating> - 
                  <rating 
                      ng-model="result.price_level" 
                      readonly="true" 
                      state-on="'glyphicon-usd'" 
                      state-off="'null'">
                  </rating>
                  <p class="closed" ng-show="{{!result.opening_hours.open_now}}">Closed Now</p>
                  <div>
                    <img class="thumb-icon" ng-src="{{result.thumbIcon}}">
                  </div>
                  <p class="more-info more-info-active" ng-click="getMoreInfo(result.place_id)">More info...</p>

                </div>
                <div class="col" ng-click="sendTextMessage(result.name,result.vicinity)">
                  <span class="icon ion-ios-upload-outline share-icon"></span>
                  <div class="icon-text">Share</div>
                </div>
                <div class="col" ng-click="openGoogleMapsApp(result.vicinity)">
                  <span class="icon ion-map directions-icon"></span>
                  <div class="icon-text">Directions</div>
                </div>
              </div>
            </div>

            <!-- Sad, no search results could be found -->
            <div ng-show="results === undefined" class="item padding-right noresults-container">
              <img class="sad-face" src="common/img/sad-face.png">
                <div class="noresults">{{noresults}}</div>
            </div>

          </div>
        </div>
        </ion-scroll>
      </ion-drawer-vertical-content>
      <ion-drawer-vertical-handle ng-click="toggleDrawer()"/>
    </ion-drawer-vertical-wrapper>

    
</ion-view>